# Tensorflow Classification

### Tensorflow Binary Classification(Pima Indians)

In [1]:
import pandas as pd
import tensorflow as tf

In [2]:
diabetesDF = pd.read_csv('../../data/raw/Udemy_tensorflow_Jospeh_Portilla/pima-indians-diabetes.csv')

In [3]:
# Group column is not there in original dataset; it was added by Portilla to demo categorical string handling
# Label -> Class --> 0 means no diabetes
diabetesDF.head()

,Number_pregnant,Glucose_concentration,Blood_pressure,Triceps,Insulin,BMI,Pedigree,Age,Class,Group
0,6,0.743719,0.590164,0.353535,0.000000,0.500745,0.234415,50,1,B
1,1,0.427136,0.540984,0.292929,0.000000,0.396423,0.116567,31,0,C
2,8,0.919598,0.524590,0.000000,0.000000,0.347243,0.253629,32,1,B
3,1,0.447236,0.540984,0.232323,0.111111,0.418778,0.038002,21,0,B
4,0,0.688442,0.327869,0.353535,0.198582,0.642325,0.943638,33,1,C

In [4]:
diabetesDF.columns

Index(['Number_pregnant', 'Glucose_concentration', 'Blood_pressure', 'Triceps',
       'Insulin', 'BMI', 'Pedigree', 'Age', 'Class', 'Group'],
      dtype='object')

### Feature Engineering

In [ ]:
'''
1) Normalize all columns except Age, Class & Group
2) Create Feature columns
3)
'''

In [7]:
columns_to_normalize = ['Number_pregnant', 'Glucose_concentration', 'Blood_pressure', 'Triceps',
       'Insulin', 'BMI', 'Pedigree']

In [8]:
diabetesDF[columns_to_normalize] = diabetesDF[columns_to_normalize].apply(lambda x: (x - min(x)) / (max(x)-min(x)))

In [10]:
diabetesDF.head()

,Number_pregnant,Glucose_concentration,Blood_pressure,Triceps,Insulin,BMI,Pedigree,Age,Class,Group
0,0.352941,0.743719,0.590164,0.353535,0.000000,0.500745,0.234415,50,1,B
1,0.058824,0.427136,0.540984,0.292929,0.000000,0.396423,0.116567,31,0,C
2,0.470588,0.919598,0.524590,0.000000,0.000000,0.347243,0.253629,32,1,B
3,0.058824,0.447236,0.540984,0.232323,0.111111,0.418778,0.038002,21,0,B
4,0.000000,0.688442,0.327869,0.353535,0.198582,0.642325,0.943638,33,1,C

In [18]:
# Feature columns
number_pregnant = tf.feature_column.numeric_column('Number_pregnant')
glucose_concentration = tf.feature_column.numeric_column('Glucose_concentration')
blood_pressure = tf.feature_column.numeric_column('Blood_pressure')
triceps = tf.feature_column.numeric_column('Triceps')
insulin = tf.feature_column.numeric_column('Insulin')
bmi = tf.feature_column.numeric_column('BMI')
pedigree = tf.feature_column.numeric_column('Pedigree')

age = tf.feature_column.numeric_column('Age')

In [19]:
number_pregnant

_NumericColumn(key='Number_pregnant', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)

In [20]:
type(number_pregnant)

tensorflow.python.feature_column.feature_column._NumericColumn

In [ ]:
# Categorical Columns